body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    overflow: hidden;
    overflow-y: scroll;

    background: rgb(17, 17, 17);
    background-position: center;
}

::-webkit-scrollbar {
    width: .5vmin;
}

::-webkit-scrollbar-track {
    background: rgb(71, 71, 71);
}

::-webkit-scrollbar-thumb {
    background: orange;
}

.mantine-TextInput-label {
    color: white;
}

.mantine-Chip-label {
    color: white !important;

    background: none !important;
    border: .1vh solid orange !important;
}
